/* --------------- clearfix --------------- */
html, body, p, h1, h2, h3, h4, h5, em, i, table, tr, td, th, form, input, textarea, select, li, ol, ul, strong {padding:0;margin:0;}
html {font-size:62.5%; height:100%; /*min-height: 725px;*/}
body {font-size:14px; font-family: "Arial", sans-serif; color:#454545; background: #EEEEEE; height:100%;}
em, i {font-style:normal;}
li {list-style-type:none;}
h1, h2, h3, h4, h5 {font-weight:normal;padding:0;}
p {padding:0; font-weight: 300;}
a:active, a:focus, img, input, select {outline: 0;}
a, a:link, a:active, a:visited {cursor:pointer; text-decoration: underline; color:#353535;}
a:hover {text-decoration: none; color:#880000;}
img {border:none;}
.clear {clear:both; font-size:0; line-height:0; height:0;}
.inline_V {display: inline-block; *display: inline; zoom:1; vertical-align: middle;}
.floatLeft {float:left;}
.floatRight {float:right;}
input {border:0;}
input::-moz-focus-inner{padding:0;border:0}
.m-b-clear {margin-bottom: 0 !important;}
.bx-pager {display: none;}
.relative {position: relative}
@font-face {
    font-family: 'avantiregular';
    src: url('avanti/14179.eot');
    src: url('avanti/14179.eot?#iefix') format('embedded-opentype'),
         url('avanti/14179.woff') format('woff'),
         url('avanti/14179.ttf') format('truetype'),
         url('avanti/14179.svg#avantiregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*-----------------------------------------------*/
.guides {position:relative; max-width:1400px; width:100%; display: inline-block; *display: inline; zoom:1;}

.wrapper {height: 100%; max-height: 100%; overflow: hidden;}

#header a {
    color:#f3f3f3;
    text-decoration:none;
    font-weight:bold;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
}



#wrapper {
    position:absolute; z-index:1;
    top: 306px; bottom:16px; left:0;
    width:15%;
    overflow:auto;
}

#wrapper2 {
    position:absolute; z-index:1;
    top: 306px; bottom: 16px; left:1px;
    width:100%;
    overflow:auto;
}
#wrapper3 {
    position:absolute; z-index:1;
    top: 306px; bottom: 16px; left:0;
    width:100%;

    overflow:auto;
}
#wrapper4 {
    position:absolute; z-index:1;
    top: 10px; bottom:0px; left:0;
    width:100%;
    background:#eee;
    overflow:auto;
    height:251px;
}
#wrapper5 {
    position:absolute; z-index:1;
    top: 10px; bottom:0px; left:0;
    width:100%;
    background:#eee;
    overflow:auto;
    height:251px;
}




#scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    
    text-align:left;
}
    
.mac_holder {display: inline-block; width:56px; padding-right:40px; vertical-align: middle}
	.mac_holder img {width:100%;  vertical-align: middle}
.players_block {background: #eeeeee; width:15%; height:100%;  overflow: hidden; float:left;}
	.player_nav_wrap {background: #fff;}
	.players_nav {background: #fff; overflow: hidden;}
	.players_nav img {width:100%;}
	.pl_prev {float:left; cursor: pointer;}
	.pl_next {float:right; cursor: pointer;}
	.logo {height:306px; width:100%; background: #fff;}
		.logo img {width:100%;}
	.players_block ul.root {position:relative; top:0px; /*border-top: 1px solid #d0cfcf; border-bottom: 1px solid #d0cfcf;*/ }
	.project_pic {margin: 0 auto;}
		ul.root li {cursor: pointer}
		ul.root li.w_col {background: #fff;}
		ul.root li.g_col {background:#d1d2d3;}
		.player_holder {display: none;}
		ul.root li.active > ul {display: block;}
		.hall.active > ul {display: block;}
	li.players {background: #eee; border-top: #fff; font-family: "avantiregular"; font-size: 25px;}
		.player {background: #fff;}
		.player.active {background: #d1d2d3;}
		li.players span { white-space: nowrap; height:70px; line-height: 70px; vertical-align: middle;position: relative}
		li.players span.root_h {padding-left: 30px}
		.h_holder {border-bottom: 1px solid #cfcdcd; position: relative; height:74px; line-height: 74px;}
		.hall {border-bottom: 1px solid #cfcdcd; position: relative}
		.hall .h_holder {border-bottom: none; padding-left: 134px;}
		.player_holder .h_holder {border-top: 1px solid #cfcdcd;}
			.checkbox {position: absolute; z-index: 999; top: 32px; left: 44px;}
			.checkbox .check_dummy {width:26px; height:12px; overflow: hidden;}
				.checkbox .check_dummy.checked img {top:-12px; position: relative}
			.hall.active > .h_holder {background: #454851; color:#fff;}
	.player_holder {font-family: "Georgia"; font-size: 18px; color:#454545; font-style: italic;}
	.status_block {position:absolute; left:39px; line-height: 0 !important; top:41px;}
	.status { margin:-12px 0 0 0; display: inline-block; left:39px;}
		.status img {width:100%;}
	.hall_holder {display:none;}



.projects_block {width:0;height:100%; float:left; background: #eeeeee; text-align: center; transition: width 0.5s ease; overflow: hidden; position:relative; /*background: url(../images/sq_bg.jpg)*/}
	.projects_block_holder { height:100%; border-left:1px solid #000;}
	.projects_block h2 {padding: 138px 0 28px 0; text-transform: uppercase; font-family: 'avantiregular'; font-size: 38px}
	.projects_block .v_slider .slide {font-size: 15px; font-style: italic; font-family: 'Georgia'; padding: 10px 0; margin-bottom: 7px; cursor: pointer}
	.projects_block .v_slider .slide:hover {background: #ccc}
	.projects_block .v_slider .slide.grey { background: #d1d2d3;}
	.projects_block .v_slider .slide .img_holder {width:59%; margin:0 auto 10px; box-shadow: 1px 0px 7px #8e8c8c;}
		.projects_block .v_slider .slide .img_holder img {width:100%; display: block;}
	.projects_block .bx-viewport {width: auto !important; background: none !important; border: none !important; box-shadow: none !important; left:0 !important; height:100% !important;}
	.projects_block .bx-controls-direction a.bx-next { top:-15px;  right: 5px;}
	.projects_block .bx-controls-direction a.bx-prev {top: -40px; right: 5px; left:auto;}

.scenes_block {width:0;height:100%; float:left; text-align: center; background:#eee; transition: width 0.5s ease; overflow: hidden; position:relative;  /*background: url(../images/sq_bg.jpg)*/}
	.scenes_block_holder {border-left:1px solid #000; }
	.scenes_pic {margin:0 auto;}
	.scenes_block h2 {padding: 138px 0 28px 0; text-transform: uppercase; font-family: 'avantiregular'; font-size: 38px}
	.scenes_block_holder { height:100%; text-align: center;}
	.scenes_block .v_slider2 .slide {font-size: 18px; font-style: italic; font-family: 'Georgia'; font-size: 0; margin: 35px 0 105px; position: relative}
	.scenes_block .v_slider2 .slide .img_holder {width:22%; box-shadow: 1px 0px 2px #8e8c8c; margin:0 4%; display: inline-block;}
	.scenes_block .v_slider2 .slide .img_holder img {width:100%; display: block;}
	.reply {position: absolute; top: 50%; margin-top: -15px; left: 32%; width:4%;}
	.reply img {width:100%;}
	.scenes_block .bx-viewport {width: auto !important; background: none !important; border: none !important; box-shadow: none !important; left:0 !important; height: 100% !important;}
	.scenes_block .bx-controls-direction a.bx-next {top:-15px; right: 5px}
		.scenes_block .bx-controls-direction a.bx-next img {width: 18px;
height: 19px;}
	.scenes_block .bx-controls-direction a.bx-prev {top: -40px; right: 5px; left:auto;}
		.scenes_block .bx-controls-direction a.bx-prev img {width: 18px;
height: 19px;}





.adv_block {width:0;height:100%; float:right; background:#eee; text-align: center; overflow: hidden;  /*background: url(../images/sq_bg.jpg)*/}
	.adv_block_holder {border-left:1px solid #000; height: 100%;}
	.adv_pic {margin:0 auto 37px; }
	.schedule  {position: relative;}
	.schedule_scroll {position: relative}
	.schedule ul {position: relative;}
	.schedule ul li {background: #eeeeee; height: 40px; line-height: 40px; font-family: 'avantiregular'; font-size: 13px; text-transform: uppercase; background: #eeeeee url(../images/top_border.jpg) left top repeat-x; cursor:pointer; border:1px solid #dcdcdc; border-top: none;}
	.schedule h2 {padding: 138px 0 28px 0; text-transform: uppercase; font-family: 'avantiregular'; font-size: 38px}
	.schedule .bx-viewport {max-height: 270px; border-radius: 5px; box-shadow: 1px 0px 7px #8e8c8c; margin: 0 10%;}
	.schedule .nav {position: absolute; right:0; top:0; width:100%; height:100%;}
	.schedule .nav .next {width:10%; position: absolute; right:0; bottom:-35px; cursor: pointer;  display: none;}
		.schedule .nav .next img {width:100%}
	.schedule .nav .prev {width:10%; position: absolute; right:0; top:-35px; cursor: pointer; display: none;}
		.schedule .nav .prev img {width:100%}

	.schedule .container {position: relative}

	.adv {position: relative}
	.adv ul {position: relative;}
	.adv ul li {background: #eeeeee; height: 40px; line-height: 40px; font-family: 'avantiregular'; font-size: 13px; text-transform: uppercase; background: #eeeeee url(../images/top_border.jpg) left top repeat-x; cursor:pointer; border:1px solid #dcdcdc; border-top: none;}
	.adv h2 { text-transform: uppercase; margin: 25px 0; font-family: 'avantiregular'; text-transform: uppercase;  font-size: 38px}

	.adv .bx-viewport {max-height: 270px;  border-radius: 5px; box-shadow: 1px 0px 7px #8e8c8c; margin: 0 10%;}
	.adv .nav {position: absolute; right:0; top:0; width:100%; height:100%;}
	.adv .nav .next {width:10%; position: absolute; right:0; bottom:-35px; cursor: pointer;  display: none;}
		.adv .nav .next img {width:100%}
	.adv .nav .prev {width:10%; position: absolute; right:0; top:-35px; cursor: pointer; display: none;}
		.adv .nav .prev img {width:100%}

	.adv .container {position: relative}

.placeholder1 {width:30%; height:100%; background: #eeeeee; position: absolute; margin-left: 15%; z-index: -1; }
	.placeholder1 h2 {position:absolute; left:50%; top:50%; text-transform: uppercase; background: url(../images/projects_pic.png) bottom no-repeat; padding-bottom: 60px; font-family: 'avantiregular'; margin:-70px 0 0 -42px;}
.placeholder2 {width:29%; height:100%; background: #eeeeee; position: absolute; margin-left: 45%; z-index: -1;}
	.placeholder2 h2 {position:absolute; left:50%; top:50%; text-transform: uppercase; background: url(../images/glasses.png) bottom no-repeat; padding: 0px 20px 60px; font-family: 'avantiregular'; margin:-70px 0 0 -42px;}
.placeholder3 {width:26%; height:100%; background: #eeeeee; position: absolute;  margin-left: 74%; z-index: -1;}
	.placeholder3 h2 {position:absolute; left:50%; top:50%; text-transform: uppercase; background: url(../images/schedule.png) bottom no-repeat; padding: 0px 20px 60px; font-family: 'avantiregular'; margin:-70px 0 0 -52px;}

.placeholder1_holder,.placeholder2_holder,.placeholder3_holder {border-left:1px solid #000; height: 100%;}
	.checkbox input {display: none;}

.clipper .bx-wrapper .bx-controls-direction a {top:-15px !important;}
.clipper .bx-wrapper .bx-viewport {border:none !important;}

#ul_wrapper {overflow: hidden}
body.login {background:#454545}
.login_form {overflow:hidden; height:90%; background:url(../images/sq_bg.jpg); font-family: 'avantiregular';}
	.login_form form { position: absolute; top: 50%; left: 50%; margin: -61px 0 0 -317px;}
.inp_holder { margin-bottom: 10px}
	.inp_holder span {font-size:30px; display: block; width:180px; display: inline-block; *display: inline; zoom:1; vertical-align: middle; text-transform: uppercase;}
	.inp_holder input {  font-family: 'avantiregular'; display:block; display: inline-block; *display: inline; zoom:1; vertical-align: middle; width:430px; font-size:30px; padding:15px 10px; box-shadow:0 2px 2px rgba(0,0,0,0.2); background: #fff; border:none; border-radius: 10px}
.page_bottom, .page_top {height:5%}

.arrow_u {left:50%; position: absolute;}
.arrow_d {left:50%; position: absolute;}
.arrow_u, .arrow_d img {width:100%;}
.arrow_d.arrow1 {display: none;}

.projects_block .arrow_u,.projects_block .arrow_d, .scenes_block .arrow_u,.scenes_block .arrow_d {display: none;}
.schedule ul,.adv ul { width:334px; overflow:hidden; margin: 0 auto; border-radius: 3px}
.schedule ul li,.adv ul li {height:49px;font-size: 13px; line-height: 49px}
#wrapper4, #wrapper5 {top: 7px !important;}
.schedule_scroll, .adv_scroll {height: 251px;}
.arrow_u, .arrow_d {width:12px; height:6px;  margin:-3px 0 0 -6px;}
.arrow_u {top: 291px;}
.arrow_d  {bottom: 10px;}
.arrow_d.arrow1 {left: 72px;}
.adv_block .arrow_u {top:-18px;}
.adv_block .arrow_d {bottom:-17px;}

.is_hall.dropdowned {background:#454851; color:#fff;}
@media screen and (max-width: 1680px) {
	.h_holder {height: 41px;line-height: 41px;}
	.players_block {width:15%;}
	.placeholder3 {width: 26%; margin-left: 74%;}
	.placeholder2 {width: 29%; margin-left: 45%;}
	.placeholder1 {width: 30%; margin-left: 15%;}
	#wrapper {width:15% !important; top: 160px  !important;}
	.projects_block h2, .scenes_block h2, .schedule h2 {padding:75px 0 0; font-size: 21px; margin-bottom: 10px}
	.adv h2 {padding:0; font-size: 20px; margin-bottom: 10px}
	.project_pic {margin-bottom: 12px; width:32px;}
		.project_pic img {width:100%;}
	.scenes_pic {margin-bottom: 25px; width: 70px;}
		.scenes_pic img {width:100%;}
	.adv_pic {margin-bottom: 23px; width: 50px;}
		.adv_pic img {width:100%;}
	li.players {font-size:13px;}
	.logo {height:161px;}
	li.players span {height:23px; line-height: 23px}
	.mac_holder {width:31px; padding-right: 19px}
	li.players span.root_h {padding-left: 25px;}
	.checkbox {left: 30px; top: 16px;}
	.checkbox .check_dummy {width:15px; height:7px; overflow: hidden}
		.checkbox .check_dummy img {width:100%; position: relative;}
		.checkbox .check_dummy.checked img{top:-7px;}
	.player_holder {font-size: 10px; margin-left: -65px;}
		.player_holder {padding-left: 65px}
	.hall .h_holder {padding-left: 65px}
	.status {width:5px; height:6px;}
	.status_block {position: absolute;left: 29px; font-size: 0; top:25px;}
	.projects_block .v_slider .slide .img_holder {width: 54%; margin:0 auto 5px;}
	.projects_block .v_slider .slide {font-size: 11px; padding: 21px 0 6px;}
	.schedule ul,.adv ul { width:174px; overflow:hidden; margin: 0 auto; border-radius: 3px}
	.schedule ul li,.adv ul li {height:43px;font-size: 13px; line-height: 43px}
	#wrapper2, #wrapper3 {top:150px !important; left:1px !important;}
	#wrapper4, #wrapper5 {top: 12px !important; height:auto !important;}
	#wrapper {bottom: 16px !important;}
	.schedule_scroll, .adv_scroll {height: 221px;}
	.arrow_u, .arrow_d {width:12px; height:6px;  margin:-3px 0 0 -6px;}
	.arrow_u {top:140px;}
	.arrow_d  {bottom: 10px;}
	.arrow_d.arrow1 {left: 72px;}
	.adv_block .arrow_u {top:-18px;}
	.adv_block .arrow_d {bottom:-17px;}
	.scenes_block .v_slider2 .slide {margin: 32px 0 82px;}

}

@media screen and (max-width: 1366px) {
	.h_holder {height: 38px;line-height: 38px;}
	.players_block {width:15%;}
	.placeholder3 {width: 25%; margin-left: 75%;}
	.placeholder2 {width: 30%; margin-left: 45%;}
	.placeholder1 {width: 30%; margin-left: 15%;}
	#wrapper {width:15% !important; top: 160px  !important;}
	.projects_block h2, .scenes_block h2, .schedule h2 {padding:70px 0 0; font-size: 20px; margin-bottom: 10px}
	.adv h2 {padding:0; font-size: 20px; margin-bottom: 10px}
	.project_pic {margin-bottom: 12px; width:32px;}
		.project_pic img {width:100%;}
	.scenes_pic {margin-bottom: 25px; width: 70px; margin-top: 13px;}
		.scenes_pic img {width:100%;}
	.adv_pic {margin-bottom: 28px; width: 50px;}
		.adv_pic img {width:100%;}
	li.players {font-size:13px;}
	.logo {height:160px;}
	li.players span {height:23px; line-height: 23px}
	.mac_holder {padding-right: 19px}
	li.players span.root_h {padding-left: 25px;}
	.checkbox {left: 30px; top: 16px;}
	.checkbox .check_dummy {width:15px; height:7px; overflow: hidden}
		.checkbox .check_dummy img {width:100%; position: relative;}
		.checkbox .check_dummy.checked img{top:-7px;}
	.player_holder {font-size: 10px; margin-left: -65px;}
		.player_holder {padding-left: 65px}
	.hall .h_holder {padding-left: 65px}
	.status {width:5px; height:6px;}
	.status_block {position: absolute;left: 29px; top: 23px;font-size: 0}
	.projects_block .v_slider .slide .img_holder {width: 53%; margin:0 auto 2px;}
	.projects_block .v_slider .slide {font-size: 11px; padding: 10px 0 2px; margin-bottom: 21px;}
	.schedule ul,.adv ul { width:174px; overflow:hidden; margin: 0 auto; border-radius: 3px;}
	.schedule ul li,.adv ul li {height:37px;font-size: 13px; line-height: 37px}
	#wrapper2, #wrapper3 {top:150px !important; left:1px !important;}
	#wrapper4, #wrapper5 {top:0px !important;  height:auto !important;}
	#wrapper {bottom: 16px !important;}
	.schedule_scroll, .adv_scroll {height: 191px;}
	.arrow_u, .arrow_d {width:12px; height:6px;  margin:-3px 0 0 -6px;}
	.arrow_u {top:140px;}
	.arrow_d  {bottom: 10px;}
	.adv_block .arrow_u {top:-18px;}
	.adv_block .arrow_d {bottom:-17px;}
	.scenes_block .v_slider2 .slide {margin: 20px 0 77px;}
}

@media screen and (max-width: 1024px) {
	.players_block {width:15%;}
	.placeholder3 {width: 25%; margin-left: 75%;}
	.placeholder2 {width: 30%; margin-left: 45%;}
	.placeholder1 {width: 30%; margin-left: 15%;}
	#wrapper {width:15% !important; top: 105px  !important;}
	.projects_block h2, .scenes_block h2, .schedule h2 {padding:40px 0 0; font-size: 12px; margin-bottom: 10px}
	.adv h2 {padding:0; font-size: 12px; margin-bottom: 10px}
	.project_pic {margin-bottom: 12px; width:22px;}
		.project_pic img {width:100%;}
	.scenes_pic {margin-bottom: 25px; width: 50px;}
		.scenes_pic img {width:100%;}
	.adv_pic {margin-bottom: 25px; width: 50px;}
		.adv_pic img {width:100%;}
	li.players {font-size:8px;}
	.logo {height:98px;}
	li.players span {height:23px; line-height: 23px}
	.mac_holder {padding-right: 19px}
	li.players span.root_h {padding-left: 25px;}
	.checkbox {left: 30px; top: 18px;}
	.checkbox .check_dummy {width:9px; height: 4px; overflow: hidden}
		.checkbox .check_dummy img {width:100%; position: relative;}
		.checkbox .check_dummy.checked img{top:-4px;}
	.player_holder {font-size: 6px; margin-left: -65px;}
		.player_holder {padding-left: 65px}
	.hall .h_holder {padding-left: 65px}
	.status {width:5px; height:6px;}
	.status_block {position: absolute;left: 29px;top: 23px; font-size: 0}
	.projects_block .v_slider .slide .img_holder {width: 43%; margin:0 auto 2px;}
	.projects_block .v_slider .slide {font-size: 9px; padding: 10px 0 2px; margin-bottom: 3px;}
	.schedule ul,.adv ul { width:108px; overflow:hidden; margin: 0 auto; border-radius: 3px}
	.schedule ul li,.adv ul li {height:22px;font-size: 8px; line-height: 25px}
	#wrapper2, #wrapper3 {top:104px !important; left:1px !important;}
	#wrapper4, #wrapper5 {top:0px !important; height:auto !important;}
	#wrapper {bottom: 16px !important;}
	.schedule_scroll, .adv_scroll {height:115px;}
	.arrow_u, .arrow_d {width:12px; height:6px;  margin:-3px 0 0 -6px;}
	.arrow_u {top:90px;}
	.arrow_d  {bottom: 10px;}
	.arrow_d.arrow1 {left: 72px;}
	.adv_block .arrow_u {top:-25px;}
	.adv_block .arrow_d {bottom:-17px;}
	.scenes_block .v_slider2 .slide {margin: 14px 0 33px;}

}
